# Port to listen on (example: 3000)
PORT=3000

# MongoDB database URL (example: mongodb://localhost/dbname)
DATABASE_URL=mongodb://localhost/dbname
JWT_SECRET=
REFRESH_TOKEN_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NODE_ENV=production OR development
GOOGLE_REDIRECT_URI_DEV=http://localhost:5173/api/google/callback
GOOGLE_REDIRECT_URI_PROD=